@import "../../globals/variables.scss";

.notifications_link_container {
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
  box-shadow: 3px 3px 5px $softer_grey;
}
