@import "../../globals/variables.scss";

.portfolio_analysis_stats {
  border: 1px solid $soft_grey;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 40px;
}

.left_container,
.right_container {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
}

.header {
  font-family: $standard_font;
  color: $forest_green;
}

.text {
  font-family: $standard_font;
  color: $text_black;
}

.null_industries {
  font-family: $standard_font;
  line-height: 165%;
}

.link {
  color: $forest_green;
  cursor: pointer;
}

.score {
  color: $honey_yellow;
  border-bottom: 1px solid $honey_yellow;
  cursor: pointer;
}
