@import "../../globals/variables.scss";

.learn_page {
  position: relative;
  width: 50%;
  color: $text_black;
  font-family: $standard_font;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.learn_page_header {
  text-align: center;
}

.learn_page_paragraph {
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  line-height: 165%;
  margin-left: auto;
  margin-right: auto;
}

.featureless_link {
  text-decoration: none;
}

.emphasize {
  color: $forest_green;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.emphasize:hover {
  border-bottom: 2px solid $forest_green;
  transition: 0.2s;
}

.learn_page_subheader {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
