@import "../../globals/variables.scss";

.navbar_header {
  position: relative;
  width: 160px;
  height: 40px;
  top: -35px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.navbar_header:hover .text {
  color: $forest_green;
  transition: 0.2s;
}

.image_container {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
}

.image {
  height: 100%;
  width: 100%;
}

.text_block {
  position: absolute;
  width: 150px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
  color: $text_black;
  @include noselect;
}

.text {
  position: absolute;
  top: 10px;
  line-height: 100%;
  font-size: 22px;
  font-family: $standard_font;
  transition: 0.2s;
}
