@import "../../../globals/variables.scss";

.image_block {
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
}

.username {
  position: relative;
  bottom: 5px;
  font-size: 22px;
  text-decoration: none;
  color: $cream_white;
  font-family: $standard_font;
  margin-left: 5px;
}

.user_link {
  text-decoration: none;
}
