@import "../../globals/variables.scss";

.company_description {
  padding-left: 15px;
  padding-right: 15px;
  font-family: $standard_font;
}

.title {
  font-size: 22px;
  font-family: $standard_font;
}

.description {
  font-size: 18px;
  font-family: $standard_font;
}
