@import "../../globals/variables.scss";

.company_description {
  padding-left: 15px;
  padding-right: 15px;
  font-family: $standard_font;
}

.title {
  font-size: 22px;
  font-family: $standard_font;
  color: $light_blue;
}

.description {
  font-size: 16px;
  font-family: $standard_font;
  color: $text_black;
}
