@import "../../globals/variables.scss";

.like_component {
  // @include testing;
  width: 100%;
}

.likes,
.dislikes {
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
}

.likes_block,
.dislikes_block {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  // @include testing;
  margin-right: 5px;
  margin-left: 1px;
  cursor: pointer;
}

.like,
.dislike {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
