@import "../../globals/variables.scss";

.search_by_category {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
}

.header {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
  font-family: $standard_font;
  color: $forest_green;
}

.category {
  position: relative;
  width: 75%;
  min-width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.sector_dropdown,
.country_dropdown {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  float: right;
}

.sector_dropdown select,
.country_dropdown select {
  width: 100%;
}

.label {
  display: inline-block;
  font-family: $standard_font;
  color: $text_black;
}

.button {
  @include button_small;
}

.button:hover {
  @include button_hover;
}
