@import "../../globals/variables.scss";

.learn_page {
  position: relative;
  width: 50%;
  color: $text_black;
  font-family: $standard_font;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.learn_page_paragraph {
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  line-height: 165%;
  margin-left: auto;
  margin-right: auto;
}

.featureless_link {
  text-decoration: none;
}

.emphasize {
  color: $island_green;
}

.learn_page_subheader {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: $forest_green;
  margin-top: 50px;
}

.learn_page_subheader_red {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: $space_red;
  margin-top: 50px;
}

.sub_info {
  border-bottom: 1px solid $text_black;
  margin-bottom: 50px;
}

.published {
  color: $text_black;
  display: inline-block;
  margin-left: 25px;
  font-size: 14px;
  opacity: 0.75;
}

.sub_info_flair {
  color: $forest_green;
}

.score {
  color: $honey_yellow;
  font-size: 14px;
  display: inline-block;
  margin-left: 15px;
}
