.homepage_block_component {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  font-family: $standard_font;
}

.block_link {
  color: black;
  text-decoration: none;
}
