@import "../../globals/variables.scss";

.no_results {
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-family: $standard_font;
  font-size: 20px;
  text-align: center;
}

.image_block {
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}
