@import "../../../globals/variables.scss";

.edit_page {
  position: relative;
  width: 50%;
  padding: 25px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.title_input {
  font-family: $standard_font;
  color: $text_black;
  display: block;
  width: 80%;
  padding: 5px;
  font-size: 22px;
  border-radius: 3px;
  border: 1px solid $text_black;
}

.text_input {
  font-family: $standard_font;
  color: $text_black;
  display: block;
  width: 100%;
  height: 350px;
  margin-top: 15px;
  padding: 5px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid $text_black;
  resize: none;
}
