@import "../../globals/variables.scss";

.comment_component {
  position: relative;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.comment_textarea {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 5px;
  font-family: $standard_font;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
