@import "../../globals/variables.scss";

.comment_information {
}

.likes,
.dislikes,
.comments {
  font-size: 16px;
  font-family: $standard_font;
  display: inline-block;
  @include noselect;
}

.comment_image_block {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  overflow: none;
  margin-right: 10px;
  cursor: pointer;
}

.comment_image {
  height: 100%;
  width: 100%;
}

.reply {
  display: inline-block;
  cursor: pointer;
}

.reply_image {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.reply:hover .reply_subtext {
  opacity: 0.8;
}

.reply_subtext {
  opacity: 0;
  font-size: 14px;
  vertical-align: middle;
  font-family: $standard_font;
  color: $light_blue;
}
