@import "../../globals/variables.scss";

.profile_image_dropzone {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.image {
  width: 100%;
  height: 100%;
}

.dropzone {
  text-align: center;
  margin: 15px;
  box-sizing: border-box;
  font-family: $standard_font;
  background-color: $softer_grey;
  border: 2px dashed grey;
}

.dropzone_text {
  height: 50px;
}
