.user_init_check {
  position: relative;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid red;
}

.selected_button {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
}

.user_init_classification {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0.5;
  color: $island_green;
}

.user_init_hover {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.user_init_hover:hover {
  border: 1px solid black;
  transition: 0.3s;
}

.user_init_name {
  font-size: 16px;
}

.user_init_questions {
  font-size: 16px;
}

#render_questions_page {
  position: relative;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  top: 50px;
  border-radius: 20px;
}

.ticker_container {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
  box-sizing: border-box;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.small_image_container {
  position: absolute;
  top: 0;
  width: 85%;
  height: 85%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.initial_login_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.small_color_img {
  opacity: 0;
  transition: 0.3s;
}

.ticker_container:hover .ticker_id {
  opacity: 1;
  transition: 0.3s;
}

.ticker_container:hover .small_image_container {
  width: 75%;
  height: 75%;
  transition: 0.3s;
}

.ticker_container:hover .small_color_img {
  opacity: 1;
  transition: 0.3;
}

.ticker_id {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  @include noselect;
}

#ticker_list {
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
}

.render_pages_button_container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
}

@mixin render_button {
  position: relative;
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
  padding: 2px;
  font-size: 14px;
  margin: 5px;
  background-color: $island_green;
  border: 1px solid $space_red;
  color: $space_red;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.render_button_left:hover,
.render_button_right:hover {
  background-color: $honey_yellow;
  transition: 0.2s;
}

.render_button_left {
  float: left;
  margin-right: 5px;
  @include render_button;
}

.render_button_right {
  float: right;
  margin-left: 5px;
  @include render_button;
}
