@import "../../globals/variables.scss";

.owned_element {
  width: 25%;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  color: $forest_green;
  font-family: $standard_font;
}

.inner_container {
  border: 1px solid $forest_green;
  padding: 5px;
  border-radius: 5px;
}

.title {
  color: $text_black;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.title:hover {
  color: $space_red;
  transition: 0.2s;
}

.ticker {
  color: $light_blue;
  font-size: 12px;
}

.shares {
  display: block;
  color: $text_black;
}
