@import "../../globals/variables.scss";

.button {
  position: relative;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10%;
  color: $cream_white;
  background-color: $forest_green;
  border: 1px solid $forest_green;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  color: $space_red;
  border: 1px solid $space_red;
  transition: 0.3s;
}
