#account_creation {
  text-align: center;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.form_block_view {
  display: block;
  margin: 5px;
}

.input_box {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  border: 1px solid grey;
  font-size: 14px;
}
