.portfolio_background_container {
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 25px;
}

.portfolio_background {
  width: 100%;
}
