.profile_trade {
  position: relative;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.profile_like {
  position: relative;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}

#profile_header {
  position: relative;
  width: 85%;
  height: 100px;
  @include testing;
}

#profile_header_container {
  // @include testing;
  position: relative;
  height: 45px;
}

#profile_image_container {
  position: absolute;
  height: 45px;
  width: 45px;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  // @include testing;
}

#img_id {
  width: 100%;
  height: 100%;
}

#profile_header_username {
  position: absolute;
  top: -20px;
  left: 45px;
  margin-left: 5px;
  line-height: 45px;
  height: 45px;
  box-sizing: border-box;
  @include noselect;
}

#profile_bio_container {
  height: 40px;
  position: relative;
  margin-top: 10px;
  // @include testing;
}

#profile_header_bio {
  top: -20px;
  display: inline-block;
  font-size: 18px;
  // @include testing;
}

#bio_image {
  position: relative;
  top: 0;
  height: 25px;
  width: 25px;
  // @include testing;
}

#left_container {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  left: 0;
  top: -14px;
  width: 80%;
  // @include testing;
}

#right_container {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  right: 0;
  top: 0;
  width: 20%;
  opacity: 0;
  transition: 0.2s;
}

#profile_bio_container:hover #right_container {
  opacity: 1;
  transition: 0.2s;
}

#bio_edit_textarea {
  width: 80%;
  padding: 2px;
  height: 40px;
  resize: none;
  font-size: 16px;
  font-family: $standard_font;
}

#personal_history_header {
  text-align: center;
  color: $forest_green;
}

#profile_image_dropzone {
  margin-top: 15px;
  width: 100%;
  border: 1px solid $soft_grey;
}

#dropzone {
  text-align: center;
  margin: 15px;
  box-sizing: border-box;
  font-family: $standard_font;
  background-color: $softer_grey;
  border: 2px dashed grey;
}

#dropzone_text {
  @include noselect;
  color: $dark_grey;
}

#selected_profile_image_block {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @include testing;
}

#selected_profile_image {
  height: 100%;
  width: 100%;
}

#bio_counter {
  position: relative;
  height: 20px;
  top: 0;
  margin: 0;
  @include testing;
}
