@import "../../globals/variables.scss";

.center_button {
  position: relative;
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  @include button_small;
}

.center_button:hover {
  @include button_hover;
}

.news_component {
  position: relative;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
