@import "../../globals/variables.scss";

.navbar {
  position: fixed;
  background-color: $background_white;
  border-bottom: 1px solid $soft_grey;
  height: 40px;
  width: 100%;
  left: 0;
  margin: 0;
  top: 0;
  z-index: 97;
}

.nav_el {
  display: inline-block;
  margin: 5px;
  height: 20px;
}

.link {
  color: $text_black;
  text-decoration: none;
  font-family: $standard_font;
}

.logo {
  position: relative;
  display: block;
  width: 120px;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  @include noselect;
}

.image_block {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.text {
  position: relative;
  top: 7.5px;
  vertical-align: top;
  display: inline-block;
  margin-left: 2.5px;
  font-family: $standard_font;
}
