@import "../../globals/variables.scss";

.comment_section_textarea {
  width: 85%;
  height: 125px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 18px;
  line-height: 125%;
  font-family: $standard_font;
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}

.comment_section_textarea:focus {
  outline: none;
}

.comment_section_button {
  position: relative;
  padding: 5px;
  left: 7.5%;
}

.comment_section_input {
}
