@import "../../globals/variables.scss";

.user_comment_index {
  position: relative;
  display: inline-block;
  overflow: visible;
  padding-bottom: 5px;
  cursor: pointer;
}

.username_tag_block {
  display: inline-block;
  vertical-align: top;
}

.username_tag {
  color: $forest_green;
}

.hover_comp {
  display: inline-block;
  vertical-align: baseline;
  color: $text_black;
  text-decoration: none;
}
