@import "../../globals/variables.scss";

.loading_comments {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  @include noselect;
}

.loading {
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-family: $standard_font;
  color: $forest_green;
  font-size: 22px;
  box-sizing: border-box;
  padding: 10px;
}

@keyframes spinning_dial {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning_dial_container {
  position: relative;
  width: 35px;
  height: 35px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@mixin spinning_dial {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid transparent;
  animation: spinning_dial 1s linear infinite;
}

.spinning_dial:before {
  @include spinning_dial;
  border-top-color: white;
}

.spinning_dial_general:before {
  @include spinning_dial;
  border-top-color: $forest_green;
}
