@import "../../../globals/variables.scss";

.sidebar_search_container {
  position: relative;
  width: 95%;
  height: 40px;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.sidebar_search {
  font-family: $standard_font;
  width: 80%;
  font-size: 16px;
  border: 1px solid $cream_white;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
}

.sidebar_search_button {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
}
