@import "../../globals/variables.scss";

.notification_element {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 180px;
}

.button {
  @include button_micro;
  margin-left: 5px;
}

.button:hover {
  @include button_hover;
}
