@import "../../globals/variables.scss";

.input_container {
  position: relative;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 60%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-sizing: border-box;
}

.show_password {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.text {
  font-family: $standard_font;
  color: $cream_white;
}
