@import "../../globals/variables.scss";

.score {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  // @include testing;
}

.image_container {
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  // @include testing;
}

.image {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.2s;
}

.image:hover {
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);
  transition: 0.2s;
}
