@import "../../globals/variables.scss";

.notifications_link {
  position: relative;
  @include noselect;
  width: 100%;
  text-decoration: none;
  padding-left: 15px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid $softer_grey;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 180px;
}

.history_element {
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid $grey;
  text-decoration: none;
  color: $text_black;
  font-family: $standard_font;
}

.history_icon {
  position: relative;
  width: 35px;
  float: left;
  margin: 0;
  top: 25px;
  box-sizing: border-box;
  display: inline-block;
}

.history_img {
  width: 100%;
}

.history_text_block {
  height: 80px;
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
}

.link_style {
  text-decoration: none;
  color: black;
}
