@import "../../globals/variables.scss";

.tutorial_comments {
  width: 100%;
}

.button {
  margin-top: 25px;
  @include button_large;
}

.button:hover {
  @include button_hover;
}

.empty {
  font-family: $standard_font;
  font-size: 22px;
  text-align: center;
}
