@import "../../globals/variables.scss";

.stock_comment {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: $standard_font;
  border-bottom: 1px solid $light_blue;
}

.link {
  text-decoration: none;
}

.username {
  font-size: 16px;
  color: $text_black;
  transition: 0.2s;
}

.link:hover .username {
  color: $forest_green;
  transition: 0.2s;
}

.text {
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

.posted {
  font-size: 12px;
  opacity: 0.5;
}
