@import "../../../globals/variables.scss";

.profile_image_dropzone {
  cursor: pointer;
}

.profile_image_container {
  position: absolute;
  height: 45px;
  width: 45px;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid $forest_green;
}

.img {
  width: 100%;
  height: 100%;
}

.add_image_block {
  position: absolute;
  bottom: -12.5px;
  left: -12.5px;
  height: 25px;
  width: 25px;
  overflow: hidden;
  background-color: white;
  border-radius: 50%;
  border: 1px solid $forest_green;
}

.add_image {
  height: 100%;
  width: 100%;
  padding: 2.5px;
  box-sizing: border-box;
}
