.learn_page_header {
  position: relative;
  font-family: $standard_font;
  color: $raisin_black;
  margin-top: 25px;
  font-size: 22px;
  line-height: 165%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about_paragraph {
  position: relative;
  font-family: $standard_font;
  color: $raisin_black;
  width: 50%;
  margin-top: 15px;
  font-size: 18px;
  line-height: 165%;
  margin-left: auto;
  margin-right: auto;
}
