@import "../../globals/variables.scss";

.post_header {
  font-family: $standard_font;
  font-size: 20px;
  border: 1px solid $light_blue;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
}

.image_block {
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

.image {
  height: 100%;
  width: 100%;
}
