@import "../../globals/variables.scss";

.image_block {
  height: 75px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
}

.header {
  font-family: $standard_font;
  font-size: 22px;
  text-align: center;
  color: $forest_green;
}
