@import "../../globals/variables.scss";

.text {
  color: $cream_white;
  font-family: $standard_font;
  text-decoration: none;
}

.ticker {
  color: $light_blue;
}

.sector {
  float: right;
  color: $cream_white;
}

.link:hover .text,
.link:hover .sector {
  color: $space_red;
}

.link {
  box-sizing: border-box;
  left: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: $standard_font;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  background-color: $forest_green;
  width: 90%;
  border-bottom: 1px solid $soft_grey;
}
