.individual_post_comment {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  font-family: $standard_font;
  border: 1px solid black;
}

.individual_post_comment_text {
  width: 100%;
  word-wrap: break-word;
  line-height: 150%;
  @include testing;
}

.individual_post_comment_option_block {
  position: relative;
  height: 40px;
  @include testing;
}

.individual_post_comment_likes {
  position: relative;
  font-size: 18px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 25px;
  @include noselect;
  @include testing;
}
