@import "../../../globals/variables.scss";

.suggestion_header {
  font-family: $standard_font;
}

.header {
  color: $space_red;
  font-size: 22px;
  text-align: center;
}

.subheader {
  color: $light_blue;
  font-size: 18px;
  text-align: center;
}
