#render_questions_page {
  position: relative;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  top: 50px;
  border-radius: 20px;
}
