@import "../../globals/variables.scss";

.password_validation {
  position: relative;
  font-size: 14px;
  top: -200px;
  width: 250px;
  max-width: 30%;
  float: left;
  transition: 0.3s;
}

.password_validation_checkbox {
  display: block;
  margin: 5px;
  box-sizing: border-box;
}

.text {
  font-family: $standard_font;
  color: $cream_white;
  font-size: 14px;
}
