@import "../../globals/variables.scss";

.notifications_page {
  width: 40%;
  min-width: 450px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  font-family: $standard_font;
}

.notification_header {
  color: $forest_green;
  text-align: center;
  margin-bottom: 50px;
}
