@import "../../globals/variables.scss";

.notifications_page {
  min-width: 50%;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dashed grey;
  font-family: $standard_font;
}

.notification_header {
  color: #5c5cfc;
}
