@import "../../globals/variables.scss";

.profile_image_block {
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: $emerald;
  border: 1px solid $soft_grey;
}

.profile_image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
