.feed {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.martop {
  margin-top: 50px;
}

.homepage {
  position: relative;
  width: 80%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
