@import "../../globals/variables.scss";

.search_bar {
  position: absolute;
  right: 0;
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
}

.header {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
  font-family: $standard_font;
  color: $forest_green;
}

.search_container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 75%;
}

.search {
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding: 3px;
  width: 75%;
  box-sizing: border-box;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid $text_black;
  font-family: $standard_font;
  color: $text_black;
}

.search_button {
  display: inline-block;
  width: 25%;
  padding: 3px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid $forest_green;
  background-color: $forest_green;
  font-family: $standard_font;
  color: $cream_white;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
  transition: 0.3s;
}

.search_button:hover {
  color: $space_red;
  border: 1px solid $space_red;
  transition: 0.3s;
}
