@import "../../globals/variables.scss";

.post_header {
  width: 100%;
  margin-bottom: 10px;
}

.text {
  font-size: 22px;
  font-family: $standard_font;
  color: $forest_green;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
