#portfolio_graph {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

#portfolio_graph_render {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

#portfolio {
  position: relative;
  width: 50%;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#owned_stocked {
  position: relative;
  display: block;
}

.reference_trade {
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

#share_listing {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
  // @include testing;
  border-bottom: 1px dashed grey;
}

#value_markers {
  display: inline-block;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  font-size: 16px;
  height: 20px;
  font-family: $standard_font;
  // @include testing;
}

.share_listing_additional_info {
  font-size: 14px;
  margin: 0;
}

.watch_listing {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: $standard_font;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  background-color: $softer_grey;
  width: 100%;
  border-bottom: 1px solid $soft_grey;
}

.watch_listing_link {
  color: black;
  text-decoration: none;
}

.watch_listing_ticker_span {
  color: grey;
}

.add_stock_watch_list_button_container {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;
}

.add_stock_watch_list_button {
  width: 100%;
  height: 100%;
}

#share_listing_text {
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
  font-size: 16px;
  font-family: $standard_font;
  // @include testing;
}

#share_listing_minor {
  font-size: 14px;
  opacity: 0.5;
}

.no_link {
  @include black_link;
}

#stock_search {
}

#stock_search_text {
  font-size: 18px;
  font-family: $standard_font;
  font-weight: bold;
  color: $forest_green;
  text-align: center;
}

@mixin standard_portfolio_textarea_block {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

@mixin standard_portfolio_search_input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: $standard_font;
  padding: 5px;
  font-size: 16px;
}

#stock_search_textarea_block {
  @include standard_portfolio_textarea_block;
}

#stock_search_input {
  @include standard_portfolio_search_input;
}

#stock_search_input:focus {
  outline: none;
}

#initial_portfolio_welcome_header {
  text-align: center;
  font-family: $standard_font;
  color: $forest_green;
  font-size: 28px;
}

#initial_portfolio_welcome_sub_header {
  text-align: center;
  font-family: $standard_font;
  color: $forest_green;
  font-size: 24px;
}

#portfolio_background_container {
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 25px;
}

#portfolio_background {
  width: 100%;
}

#initial_portfolio_input_block {
  @include standard_portfolio_textarea_block;
}

#initial_portfolio_input {
  @include standard_portfolio_search_input;
}
