@import "../../../globals/variables.scss";

.individual_user_post_title {
  font-size: 18px;
  margin-bottom: 5px;
}

.individual_user_post_textblock {
  font-size: 16px;
  margin-bottom: 5px;
}

.individual_user_post_infoblock {
  position: relative;
  width: 100%;
}

.individual_user_post_inline {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.homepage_block_component {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  font-family: $standard_font;
}

.standard_link {
  color: black;
  text-decoration: none;
}
