@import "../../globals/variables.scss";

.header {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: $standard_font;
  color: $text_black;
}

.header_simple_text {
  font-size: 22px;
}

.header_major_text {
  font-size: 22px;
  cursor: pointer;
}

.header_minor_text {
  font-size: 16px;
  opacity: 0;
  transition: 0.3s;
  cursor: default;
}

.header_major_text:hover + .header_minor_text {
  opacity: 1;
  transition: 0.3s;
}
