@import "../../../globals/variables.scss";

.post_textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid $light_blue;
  resize: none;
  font-family: $standard_font;
  color: $text_black;
  box-sizing: border-box;
  transition: 0.3s;
}
