.blank_submit {
  position: relative;
  margin-left: 10px;
}

.blanks_title {
  position: relative;
  margin: 10px;
}

.knowledge_check {
  position: relative;
  border: 1px solid black;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
