#notifications_page {
  min-width: 50%;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dashed grey;
  font-family: $standard_font;
}

#submitted_notif_time {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  opacity: 0.5;
  font-family: $standard_font;
}

#notification_header {
  color: #5c5cfc;
}
